spring:
  config:
    activate:
      on-profile: dev

  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MyaSQL8Dialect
      show_sql: true
      format_sql: true
      use_sql_comments: true
      ddl-auto: update
      default_batch_fetch_size: 1000